@import "../Mixins.scss";

.field {
  position: relative;
  height: fit-content;
  margin: 0;

  input {
    @include input-field();
  }
  div {
    position: absolute;
    top: 50%;
    transform: translateY(-42%);
    left: 20px;
    width: 20px;
    color: black;
  }
}
