@import "../../helpers/Mixins.scss";
@import "../../helpers/Variables.scss";

.F-Bar {
  .container {
    @include container(18px, 18px);
  }
  .logo-wrapper {
    @include vertical-align();
    margin: auto;
  }
}
.functions {
  @include vertical-align();
  cursor: pointer;
  & > div {
    @include vertical-align();
    position: relative;
    font-size: 0.9rem;
    font-weight: 800;
    padding: 15px 10px;
  }
  .image-wrapper {
    @include vertical-align();
    width: 20px;
    margin-right: 8px;
    span {
      text-align: center;
      position: absolute;
      display: inline-block;
      top: 13px;
      left: 23px;
      font-size: 8px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $primaryColor;
      z-index: 100;
    }
  }
}
